* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body {
  background: #171616;
  overflow-x: hidden;
}
header span {
  color: white;
}.mobile {
  display: none;
}

@media Screen and (max-width: 1080px) {
  .mobile {
    display: flex;
  }
}